QPushButton {
	color: #86bc10;
	margin:0px;
  height: 72px;
	font-family:Adore64;
	font-size:22px;
  background-repeat:no-repeat;
  background-position: center;
  background-color: transparent;
}

QLabel {
	background-color: Transparent;
	background-image: none;
	color: #86bc10;
	font-family:Adore64;
	text-align:center;
}

Graph { 
    color: white; 
    background-color: qlineargradient(x1:0, y1:1, x2:0, y2:0, stop:0 rgb(59, 57, 60), stop:0.3 rgb(95, 95, 95), stop:1 rgb(74, 72, 74));
}

Graph[isEmbedded=true] { 
    color: white; 
    background-color: rgb(95,95,95);
}

QGroupBox { 
    color: white;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgb(116, 116, 118), stop:1 rgb(59, 57, 60));
    border: 2px solid rgb(180, 180, 180); 
    border-radius: 7px;
    padding-top: 1.5em;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0.4em 0.4em 0.1em 0.4em;
    background: transparent;
}

QGroupBox[isMetallic=true] {
    color: black;
    background-color: white;
    background-image: url(:/images/brushedmetal.png);
}

QGroupBox QLabel {
    color: white;
}

QGroupBox[isMetallic=true] QLabel {
    color: black;
}

 QTextEdit, QListView {
     background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgb(116, 116, 118), stop:1 rgb(59, 57, 60));

     background-attachment: scroll;
 }
