StyledScreen 
{
	background-image: url(:/TnR/images/startscreen.jpg);
	background-color: Red;
}
 
QLabel 
{
	background-color: Transparent;
	background-image: none;
	color: Green;
	font-size:46px;
	font-style:oblique;
	font-weight:bold; 
}
